body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #d1dfe0;
}
.section{
    display: flex;
    gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.program {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.program h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}
.blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}